@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.TR-hero {
  background-image: url(https://i.postimg.cc/L5hBBCqH/bg.jpg);
}

@media screen and (max-width: 1023px) {
  .TR-custom-flex {
    display: flex;
    flex-direction: column;
  }
  .TR-object-divider-horizontal {
    display: none;
  }
  .TR-object-divider-vertical {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .TR-custom-flex {
    display: flex;
    flex-direction: row;
  }
  .TR-object-divider-horizontal {
    display: flex;
  }
  .TR-object-divider-vertical {
    display: none;
  }
}
